<!DOCTYPE html>
<html>
  <head>
    <title>RailsLongestWordGame</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style>
      .letters {
        width: 80vh;
        height: 60px;
        margin: 0 auto;
      }

      .letter {
        padding: 8px 10px;
        border: 1px solid green;
        width: 60px;
      }


      .container {
        height: 50vh;
        background-color: lightgreen;
        border: 2px dotted black;
        box-shadow: 2px 5px green;
        margin-top: 130px;
        padding: 20px;
      }

      .new-game {
        width: 80vh;

        margin: 0 auto;

      }
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
